[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frugal = "*"
astor = "*"
thrift = "0.10.0"
requests = "*"
rsa = "*"
hyper = "*"
httpx = "*"
httplib2 = "*"
python-axolotl-curve25519 = "*"
pycryptodome = "*"
python-dotenv = "*"
aiohttp = "*"
asyncio-nats-client = "*"
aiostomp = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
